@import "tailwindcss";

.first-bg{
    width: 100%;
    height: 950px;
    background-image: url(./Yunus-Page/Yunus-Images/First-Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

