@import "tailwindcss";

.first-bg{
    width: 100%;
    height: 950px;
    background-image: url(./Yunus-Page/Yunus-Images/First-Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sec-bg{
    background-image: url(./Yunus-Page/Yunus-Images/Group\ 1000004420\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
}
.last-bg{
    background-image: url(./Yunus-Page/Yunus-Images/Rectangle\ 355.png);
    background-repeat: no-repeat;
    background-position: center;
}